<ng-container ngModelGroup="address">
  <!-- ng-container ei ole pakollinen, auttaa ainoastaan ngModelGroupin asettamisessa! -- >-->
  <label>Osoite:</label><br>
  <input type="text" name="street" ngModel required maxlength="20" minlength="5">
  <br>
  <input type="number" name="house" ngModel required >
</ng-container>