<p>Malli: https://www.competa.com/blog/quick-reusable-nested-template-driven-forms-in-angular/</p>

<form #f="ngForm" (ngSubmit)="send(f)">
  <label>Etunumi:</label>
  <input type="text" name="firstName" ngModel required>
  <br>
  <label>Sukunimi:</label>
  <input type="text" name="lastName" ngModel required>

  <br>
  <app-sub-form></app-sub-form>
  <br>
  <button type="submit" [disabled]="!f.valid">Lähetä</button>
  <button (click)="setDefaults()">Aseta oletukset</button>
</form>

<hr>
<span>Lomakkeen tiedot:</span>
<pre>
  {{ f.value | json }}
</pre>
<p>
  Valid: {{ f.valid }}
</p>